*{
    margin: 0;
    font-family: Poppins;
    color: #2F281E;
}
a{
    text-decoration: none;
    position: relative;
}
h1{
    font-family: Poppins;
    font-size: 44px;
    margin-bottom: 30px;
}
.container-wrapp{
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 2px;
    background: #F2F2F2;
    box-shadow: 0px 2px 12px #ccc;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 35px 0 90px 0;
}
.container header{
    position: relative;
}
.container .logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -60%);
}
.header-wrapp{
    display: flex;
    justify-content: end;   
}
nav{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(0, -90%);
    list-style: none;
    
}
nav ul li{
    display: inline-block;
    margin-left: 27px;
}
nav ul li:first-child{
    margin-left: .1px;
}
nav ul li a::before{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2.5px;
    border-radius: 5px;
    background: #173A56;
    transition: all 0.55s;
    transform: scaleX(0);
}
nav ul li a:hover::before{
    transform: scaleX(1);
}
nav ul li a:active{
    color: #BCD0E5;
}
.authorization{
    display: inline-block;
    margin-left: 50px;
    padding-bottom: 20px;
}
.btn-1{
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 25px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    cursor: pointer;

    transition: all 0.55s;

}
.btn-1:hover{
    border: 1px solid #173A56;
    background-color: #173A56;
    color: #fafafa; 
}
.btn-1:active{
    color: #BCD0E5;
}
.btn-2{
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 25px;
    background: #FF9900;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    cursor: pointer;

    transition: all 0.55s;
}
.btn-2:hover{
    background: #F2F2F2;
    color: #173A56;
}
.btn-2:active{
    color:#BCD0E5;
}
.get-started{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 110px;
}.gt-desc{
    margin: auto 0;
}
.gt-desc p{
    font-family: Poppins;
    font-size: 18px;
    margin-bottom: 45px;
}
.gt-desc a{
    margin-left: 30px;
}
.gt-desc a::before{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: #FF9900;
    transition: all 0.25s;
    transform: scaleX(0);
}
.gt-desc a:hover::before{
    transform: scaleX(1);
}
.gt-desc a:active{
    color:#ff990085;
}
.gt-desc a, span{
    color: #FF9900;
}
.tools{
    text-align: center;
    margin-bottom: 210px;
}
.tools-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
}
.tools-categories-item img{
    margin-bottom: 30px;
}
.tools-categories-item h3{
    margin-bottom: 15px;
}
.tools-categories-item p{
    margin-bottom: 35px;
}